fastapi==0.110.3
starlette==0.37.2
uvicorn==0.30.1
python-multipart==0.0.9
pydantic==2.8.2
typing-extensions==4.12.2

# Torch (CPU build for Render environment)
torch==2.5.1+cpu
-f https://download.pytorch.org/whl/torch_stable.html

sentence-transformers==2.6.1
spacy==3.7.4
nltk==3.9.1
